#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zephyr,display = &nice_view;
    };

    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";

        matrix {
            kscan = <&kscan1>;
        };

        direct {
            kscan = <&kscan2>;
            row-offset = <10>;
        };

        capslock {
            kscan = <&kscan3>;
            row-offset = <11>;
        };
    };

    kscan3: kscan_sp3t_toggle {
        compatible = "zmk,kscan-gpio-direct";
        toggle-mode;

        input-gpios
        = <&ext2 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&ext2 4 GPIO_ACTIVE_LOW>
        ;
    };

    kscan2: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&ext2 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;

    };

    kscan1: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        col-gpios
            = <&ext1 6 GPIO_ACTIVE_LOW>
            , <&ext1 5 GPIO_ACTIVE_LOW>
            , <&ext1 4 GPIO_ACTIVE_LOW>
            , <&ext1 3 GPIO_ACTIVE_LOW>
            , <&ext1 2 GPIO_ACTIVE_LOW>
            , <&ext1 1 GPIO_ACTIVE_LOW>
            , <&ext1 0 GPIO_ACTIVE_LOW>
            , <&ext2 5 GPIO_ACTIVE_LOW>
            ;
        row-gpios
            = <&ext2 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext1 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&ext2 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;

    };

    digital_crown: encoder {
        compatible = "alps,ec11";
        a-gpios = <&ext2 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&ext2 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "disabled";
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <6>;
        columns = <18>;

        map = <
                    RC(10,4)    RC(11,0)
        RC(0,0)     RC(0,1)     RC(0,2)     RC(0,3)     RC(0,4)     RC(0,5)     RC(0,6)     RC(1,6)     RC(1,7)     RC(0,7)     RC(9,7)     RC(9,6)     RC(9,5)     RC(9,4)     RC(7,3)     RC(7,2)     RC(7,1)     RC(7,0)
        RC(2,0)     RC(2,1)     RC(2,2)     RC(2,3)     RC(2,4)     RC(2,5)     RC(2,6)     RC(2,7)     RC(3,7)     RC(3,6)     RC(3,5)     RC(3,4)     RC(3,3)                 RC(8,3)     RC(8,2)     RC(8,1)     RC(8,4)
        RC(10,0)    RC(4,0)     RC(4,1)     RC(4,2)     RC(4,3)     RC(4,4)     RC(4,5)     RC(4,6)     RC(4,7)     RC(9,3)     RC(3,1)     RC(3,0)     RC(3,2)                 RC(8,7)     RC(8,6)     RC(8,5)     RC(8,0)
        RC(10,1)    RC(5,0)     RC(5,1)     RC(5,2)     RC(5,3)     RC(5,4)     RC(5,5)     RC(5,6)     RC(5,7)     RC(9,2)     RC(9,1)                                         RC(7,7)     RC(7,6)     RC(7,5)
        RC(11,1)    RC(10,2)    RC(10,3)    RC(6,3)                             RC(6,0)                 RC(6,2)     RC(6,1)     RC(6,7)     RC(6,5)     RC(9,0)                 RC(6,6)                 RC(6,4)     RC(7,4)
        RC(10,4)
        >;
    };

};
