&xiao_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    ext1: mcp23017@20 {
        compatible = "microchip,mcp230xx";
        status = "okay";
        gpio-controller;
        reg = <0x20>;
        #gpio-cells = <2>;
        ngpios = <16>;
        int-gpios = <&xiao_d 2 GPIO_ACTIVE_LOW>;
    };
    ext2: mcp23017@21 {
        compatible = "microchip,mcp230xx";
        status = "okay";
        gpio-controller;
        reg = <0x21>;
        #gpio-cells = <2>;
        ngpios = <16>;
        int-gpios = <&xiao_d 3 GPIO_ACTIVE_LOW>;
    };
};

nice_view_spi: &xiao_spi {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 7 GPIO_ACTIVE_HIGH>;
        nice_view: ls0xx@0 {
        compatible = "sharp,ls0xx";
        spi-max-frequency = <1000000>;
        reg = <0>;
        width = <160>;
        height = <68>;
    };
};
